<!-- 📂Views📂Book 📑Details.cshtm-->

@model LibraryManagement.ViewModels.BookViewModel

<h2>Book Details</h2>

<h1>@Model.Title</h1>
<p>Author: @Model.AuthorName</p>
<p>Branch: @Model.BranchName</p>
<p>Customer: @Model.CheckedOutByCustomer</p>
@* <p>Customer: @Model.status</p> *@










<p class=title>
    <a asp-action="Index" class="BackLink">Back to Book List</a>
</p>