<!-- 📂Views📂Book 📑Index.cshtm-->

@model List<LibraryManagement.Models.Book>

<h2>Book List</h2>

<p class=title>
    <a href='@Url.Action("Create", "Book")' class="btn btn-primary">Create Book</a>
</p>


<p class=title>Total: @Model.Count</p>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Book Title</th>
            <th>Customer</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr>
                <td>@book.BookId</td>
                <td>@book.Title</td>
                <td>@book.GetStatus()</td>
                <td>
                    <a href='@Url.Action("Checkout", "Book", new { id = book.BookId })' class="btn btn-info1">Checkout</a>
                    &nbsp;
                    <a href='@Url.Action("Details", "Book", new { id = book.BookId })' class="btn btn-info1">Details</a>
                    &nbsp;
                    <a href='@Url.Action("Edit", "Book", new { id = book.BookId })' class="btn btn-info2">Edit</a>
                    &nbsp;
                    <a href='@Url.Action("Delete", "Book", new { id = book.BookId })' class="btn btn-warning"
                    onclick="return confirm('Are you sure you want to delete this book?');">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
